#email-check-informer {
  background: url(images/throbber.gif) center top no-repeat;
  padding-left: 16px;
}
.email-check-informer-progress {
  background: url(images/throbber.gif) no-repeat center -20px !important;
}
.email-check-informer-accepted {
  background: url(images/accepted.png) no-repeat center center !important;
}
.email-check-informer-rejected {
  background: url(images/rejected.png) no-repeat center center !important;
}
#email-check-message {
  color: #ff0000;
  display: none;
  font-weight: normal;
  margin: 15px 0;
}
.email-check-message-rejected {
  color: #ff0000;
}
